html {
	width: 100%;
}

body {
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: #fff;
}


h1 {
	color: #fff;
	size: 240px;
	font-family: verdana;
}

h2 {
	color: white;
	font-size: x-large;
	width: 25%;
}

h4 {
	color: white;
}

.row {
	width: 35%;
	font-size: large;
}

.container {
	text-align: center;
}

.container2 {
	text-align: left;
}

.log{
}

nav navbar-fixed-bottom navbar-default {
	height: 20%;
}


nav navbar-nav navbar-right {
	color: white;
}

footer {
	float: left;
	padding-top: 50px;
	background-color: #eee;
	text-align: left;
	height: 10px;
}

