html {
	width: 100%;
}

body {
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

p {
	color: #fff;
}


h1 {
	color: #fff;
	size: 240px;
	font-family: verdana;
}

h2 {
	color: white;
	font-size: x-large;
	width: 25%;
}

h3 {
	color: white;
}

h4 {
	color: white;
}

.row {
	width: 35%;
	font-size: large;
}

.container {
	text-align: center;
}

.container2 {
	text-align: left;
	color: white;
}

.container3 {
	width: 350px;
	height: 435px;
	text-align: center;
	border-style:double;
	border-radius: 15%;
	border-color: white;
}

.logo{
}

nav navbar-fixed-bottom navbar-default {
	height: 20%;
}


nav navbar-nav navbar-right {
	color: white;
}

footer {
	padding-top: 30px;
	background-color: #eee;
	float: left;
	text-align: left;
	height: 10px;
}

