
	<nav class="container">
	<h1>Ticket Information for 2017/18 Season</h1>
		
</nav>


<nav class="container">
<nav class="container3">

		<h3>Sat 17 Stoke City (A)</h3>
		<p><h4>Ticket Details</h4>
		<p>We have been given an allocation of 3,000 tickets.
		<p>Ticket prices are:
		<p>Adults - £30<a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		<p>Children (Under 16) - £15</h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		</p>

</nav>
		
<nav class="container">
<nav class="container3">

		<h3>Sat 14 April Swansea (A)</h3>
		<p><h4>Ticket Details</h4>
		<p>We have been given an allocation of 2,500 tickets.
		<p>Ticket prices are:
		<p>Adults - £30</h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		<p>Children (Under 16) - £20</h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		</p>

</nav>

	</nav>			
	</nav>		
	</nav>
	</nav>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>Copyright</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../bootstrap-3.3.7-dist/css/bootstrap.min.css"></script>
</html>
