
	<nav class="container">
	<h1>Fan Articles</h1>
		
</nav>
</nav>
</nav>

<nav class="container2">
			              
            </nav>
        <nav class='column'>
		<nav class="col-md-4">
		<nav class=".image">
		<img id="landing-image" src="..\images\ross.jpg" alt="image" a href ="#" height ="300" width="400">
		<a href="..\templates\ross article.html"><h3>Ross Barkley - Should he stay or go?</h3></nav>
		<img id="landing-image" src="..\images\foot focus.jpg" alt="image" height ="300" width="400">
		<a href="..\templates\footy focus.html"><h3>Football Focus show at St Lukes Church</h3></nav>
		<img id="landing-image" src="..\images\howard.jpg" alt="image" a href ="#" height ="300" width="400">
		<a href="..\templates\howard kendall.html"><h3>Howard Kendall Tribute</h3></nav>
		</p>
		
	</nav>

	<nav class="container">
	<nav class="col-md-12">
		<h2>Contributions</h2>
		<p><li><h4>We want to hear from you, if you want to send any Everton articles contact us:</h4></li>
		</p>
		<a href="mailto:leemolton@hotmail.co.uk"><h4>leemolton@hotmail.co.uk</h4></a> 
	</nav>
	</nav>
	</nav>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>&copy; 2018 Lee Molton</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
