<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fan Articles</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\toffeetalk\css\style.css">

<style>

</style>


</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container">
<ul class="nav navbar-nav navbar-right">
                <li><a href="C:\Users\leemo\toffeetalk\templates\home.html"> Home </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\login.html"> Log in </a></li>
            </ul>


</div>
</nav>

</div>

<div class=".logo">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\crest.jpg" alt="logo" width="200">
		</div>
	<div class="container">
	<h1>Fan Articles</h1>
	<p>All the fixtures and results.</p>
	
</div>
</div>

<div class="container2">
			              
            </nav>
        <div class='column'>
		<div class="col-md-4">
		<div class=".image">
		<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\ross.jpg" alt="image" height ="300" width="400"><a href="C:\Users\leemo\toffeetalk\templates\ross article.html"><h3>Ross Barkley - Should he stay or go?</h3></div>
		<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\foot focus.jpg" alt="image" height ="300" width="400">
		<a href="C:\Users\leemo\toffeetalk\templates\footy focus.html"><h3>Football Focus show at St Lukes Church</h3></div>
		<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\howard.jpg" alt="image" height ="300" width="400">
		<a href="C:\Users\leemo\toffeetalk\templates\howard kendall.html"><h3>Howard Kendall Tribute</h3></div>
		</p>
		
	</div>

	<div class="container">
	<div class="col-md-12">
		<h2>Contributions</h2>
		<p><li><h4>We want to hear from you, if you want to send any Everton articles contact us:</h4></li:
		</p>
		<a href="mailto:leemolton@hotmail.co.uk"><h4>leemolton@hotmail.co.uk</h4></a> 
	</div>
	</div>
	</div>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>&copy; 2017 Lee Molton</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
