<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fan Articles</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\toffeetalk\css\style.css">

<style>

</style>


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<nav class="container">

<ul class="nav navbar-nav navbar-right">
                <li><a href="..\templates\home.html"> Home </a></li>
                <li><a href="..\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="..\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="..\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="..\templates\login.html"> Log in </a></li>
            </ul>


</nav>
</nav>

</nav>


	<nav class="container">
	<h1>Fan Articles</h1>
		
</nav>
</nav>
</nav>

<nav class="container2">
			              
            </nav>
        <nav class='column'>
		<nav class="col-md-4">
		<nav class=".image">
		<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\ross.jpg" alt="image" a href ="#" height ="300" width="400">
		<a href="..\templates\ross article.html"><h3>Ross Barkley - Should he stay or go?</h3></nav>
		<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\foot focus.jpg" alt="image" height ="300" width="400">
		<a href="..\templates\footy focus.html"><h3>Football Focus show at St Lukes Church</h3></nav>
		<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\howard.jpg" alt="image" a href ="#" height ="300" width="400">
		<a href="..\templates\howard kendall.html"><h3>Howard Kendall Tribute</h3></nav>
		</p>
		
	</nav>

	<nav class="container">
	<nav class="col-md-12">
		<h2>Contributions</h2>
		<p><li><h4>We want to hear from you, if you want to send any Everton articles contact us:</h4></li>
		</p>
		<a href="mailto:leemolton@hotmail.co.uk"><h4>leemolton@hotmail.co.uk</h4></a> 
	</nav>
	</nav>
	</nav>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>&copy; 2017 Lee Molton</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="..\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
