<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fixtures and Results</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\toffeetalk\css\style.css">

<style>

</style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<nav class="container">
<ul class="nav navbar-nav navbar-right">
                <li><a href="..\templates\home.html"> Home </a></li>
                <li><a href="..\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="..\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="..\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="..\templates\login.html"> Log in </a></li>
            </ul>
</nav>
</nav>

</nav>

<figure>

<nav class=".logo">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\crest.jpg" alt="logo" width="200" height="150">
		</figure>
	<nav class="container">
	<h1>Season 2017/18</h1>
	<p>All the fixtures and results.</p>	
</nav>
</nav>



<nav class="container">
<nav class="container2">
<nav class='row'>
	<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseOne">August</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseOne" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sun 6 15:00 Sevilla (H) Friendly</li>
		<li>Sat 12 15:00 Stoke City (H)</li>
		<li>Sat 19 15:00 Man City (A)</li>
		<li>Sat 26 15:00 Chelsea (A)</li>
 		</p>
</nav>
</nav>
</nav>
<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseTwo">September</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseTwo" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 9 15:00 Tottenham (H</li>
		<li>Sat 16 15:00 Man United (H)</li>
		<li>Sat 23 15:00 Bournemouth (A)</li>
		<li>Sat 30 15:00 Burnley (H)</li>
 		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseThree">October</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseThree" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 14 15:00 Brighton (A)</li>
		<li>Sat 21 15:00 Arsenal (A)</li>
		<li>Sat 28 15:00 Leicester City (H)</li>
 		</p>
</nav>
</nav>
</nav>
<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseFour">November</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseFour" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 4 15:00 Watford (H)</li>
		<li>Sat 18 15:00 C Palace (A)</li>
		<li>Sat 25 15:00 Southampton (A)</li>
		</p>
</nav>
</nav>
</nav>
<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseFive">December</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseFive" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 2 15:00 Huddersfield (H)</li>
		<li>Sat 9 15:00 Liverpool (A)</li>
		<li>Wed 13 15:00 Newcastle (A)</li>
		<li>Sat 16 15:00 Swansea (H)</li>
		<li>Sat 23 15:00 Chelsea (H)</li>
		<li>Tues 26 15:00 West Brom (A)</li>
		<li>Fri 30 15:00 Bournemouth (A)</li>
 		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseSix">January</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseSix" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Mon 1 15:00 Man United (H)</li>
		<li>Sat 13 15:00 Tottenham (A)</li>
		<li>Sat 20 15:00 West Brom (H)</li>
		<li>Wed 31 15:00 Leicester City (H)</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseSeven">February</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseSeven" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 3 15:00 Arsenal (A)</li>
		<li>Sat 10 15:00 C Palace (H)</li>
		<li>Sat 24 15:00 Watford (A)</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseEight">March</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseEight" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 3 15:00 Burnley (A)</li>
		<li>Sat 10 15:00 Brighton (H)</li>
		<li>Sat 17 15:00 Stoke City (A)</li>
		<li>Sat 31 15:00 Man City (H)</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseNine">April</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseNine" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 7 15:00 Liverpool (H)</li>
		<li>Sat 14 15:00 Swansea City (A)</li>
		<li>Sat 21 15:00 Newcastle (H)</li>
		<li>Sat 28 15:00 Huddersfield (A)</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseTen">May</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseTen" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 5 15:00 Southampton (H)</li>
		<li>Sun 13 15:00 West Ham (A)</li>
		</p>
</nav>



</nav>
</nav>
	
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="..\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>


		
	
		
	