<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fixtures and Results</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\toffeetalk\css\style.css">

<style>
.logo {
}
</style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<nav class="container">
<ul class="nav navbar-nav navbar-right">
                <li><a href="C:\Users\leemo\toffeetalk\templates\home.html"> Home </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\login.html"> Log in </a></li>
            </ul>
</nav>
</nav>

</nav>

<figure>

<nav class=".logo">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\crest.jpg" alt="logo" width="200" height="150">
		</figure>
	<nav class="container">
	<h1>Season 2016/17</h1>
	<p>All the fixtures and results.</p>	
</nav>
</nav>



<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseOne">August</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseOne" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Wed 3 20:00 Man Utd (A) Friendly 0-0</li>
		<li>Sat 6 15:00 Espanyol (H) Friendly 0-1</li>
		<li>Sat 13 15:00 Spurs (H) 1-1</li>
		<li>Sat 20 15:00 West Brom (A) 2-1</li>
		<li>Tue 23 19:45 Yeovil (H) C One Cup 4-0</li>
		<li>Sat 27 15:00 Stoke City (H) 1-0</li>
 		</p>
</nav>
</nav>
</nav>
<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseTwo">September</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseTwo" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Mon 12 20:00 Sunderland (A) 3-0</li>
		<li>Sat 17 17:30 Middlesbrough (H) 3-1</li>
		<li>Tue 20 19:45 Norwich (H) C One Cup 0-2</li>
		<li>Sat 24 15:00 Bournemouth (A) 0-1</li>
		<li>Fri 30 20:00 Crystal Palace (H) 1-1</li>
 		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseThree">October</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseThree" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Sat 22 15:00 Burnley (A) 1-2</li>
		<li>Sun 30 13:30 West Ham (H) 2-0</li>
 		</p>
</nav>
</nav>
</nav>
<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseFour">November</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseFour" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 5 17:30 Chelsea (A) 0-5</li>
		<li>Sat 19 15:00 Swansea City (H) 1-1</li>
		<li>Sun 27 16:30 Southampton (H) 0-1</li>
		</p>
</nav>
</nav>
</nav>
<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseFive">December</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseFive" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sun 4 16:00 Man United (H) 1-1</li>
		<li>Sat 10 12:30 Watford (A) 2-3</li>
		<li>Tue 13 19:45 Arsenal (H) 2-1</li>
		<li>Mon 19 20:00 Liverpool (H) 0-1</li>
		<li>Mon 26 15:00 Leicester City (A) 2-0</li>
		<li>Fri 30 20:00 Hull City (A) 2-2</li>
 		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseSix">January</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseSix" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Mon 2 15:00 Southampton (H) 3-0</li>
		<li>Sat 7 15:00 Leicester City (H) FA Cup 1-2</li>
		<li>Sun 15 13:30 Man City (H) 4-0</li>
		<li>Sat 21 15:00 Crystal Palace (A) 1-0</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseSeven">February</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseSeven" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Wed 1 20:00 Stoke City (A) 1-1</li>
		<li>Sat 4 15:00 Bournemouth (H) 6-3</li>
		<li>Sat 11 15:00 Middlesbrough (A) 0-0</li>
		<li>Sat 245 15:00 Sunderland (H) 2-0</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseEight">March</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseEight" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sun 5 13:30 Tottenham (A) 2-3</li>
		<li>Sat 11 15:00 West Brom (H) 3-0</li>
		<li>Sat 18 15:00 Hull City (H) 4-0</li>
		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseNine">April</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseNine" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 1 12:30 Liverpool (A) 1-3</li>
		<li>Tue 4 20:00 Man United (A) 1-1</li>
		<li>Sun 9 16:00 Leicester City (H) 4-2</li>
		<li>Sat 15 15:00 Burnley (H) 3-1</li>
		<li>Sat 22 15:00 West Ham (A) 0-0</li>
		<li>Sun 30 14:05 Chelsea (H) 0-3</li>
 		</p>
</nav>
</nav>
</nav>

<nav class="container">
<nav class="container2">
<nav class='row'>
		<nav class="col-md-12">
<nav class="panel-group" id="accordion">
<nav class="panel panel-default">
	<nav class="panel-heading">
	<h2 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion"
	href="#collapseTen">May</a></h2>
</nav>
</nav>
</nav>
<nav id="collapseTen" class="panel-collapse collapse">
	<nav class="panel-body">
	<p><li>Sat 6 17:30 Swansea (A) 0-1</li>
		<li>Fri 12 19:45 Watford (H) 1-0</li>
		<li>Sun 21 15:00 Arsenal (A) 1-3</li>
		</p>
</nav>



</nav>
</nav>
	
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>


		
	
		
	