<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fixtures and Results</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>

<style>
footer {
	padding-top: 5px;
	background-color: #eee;
	text-align: center;
	height: 100px;
}
</style>

</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container">
<div class="navbar-header">
	<a class="navbar-brand" href="#">Toffee Talk</a>
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<ul id="myCollapsingList" class="nav navbar-nav collapsed navbar-collapse">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Fixtures and Results</a></li>
                  <li><a href="#">Ticket Info</a></li>
                  <li><a href="#">Fan Articles</a></li>
                  <li><a href="#">Log In</a></li>
                </ul>
</div>
</nav>

</div>
<div class="jumbotron">
	<div class="container">
	<h1>Season 2016/17</h1>
	<p>All the fixtures and results.</p>
	<p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
</div>
</div>

<div class="container">
			              
            </nav>
            <div class='row'>
		<div class="col-md-4">
		<h2>August</h2>
		<p><li>Wed 3 20:00 Man Utd (A) 0:0</li>
		<li>Sat 6 15:00 Espanyol (H) 0:1</li>
		<li>Sat 13 15:00 Spurs (H) 1:1</li>
		<li>Sat 20 15:00 West Brom (A) 2:1</li>
		<li>Tue 23 19:45 Yeovil Town (H) 4:0</li>
		<li>Sat 27 15:00 Stoke City (H) 1-0</li>
 		</p>
		<a href="#" class="btn btn-success  btn-lg">Learn</a>
	</div>
		<div class="col-md-4">
		<h2>September</h2>
		<p><li>Mon 12 20:00 Sunderland (A) 3-0</li>
		<li>Sat 17 17:30 Middlesbrough (H) 3-1</li>
		<li>Tue 20 19:45 Norwich (H) 0-2</li>
		<li>Sat 24 15:00 Bournemouth (A) 0-1</li>
		<li>Fri 30 20:00 Crystal Palace (H) 1-1</li>
 		</p>
		<a href="#" class="btn btn-primary  btn-default">Learn</a>
	</div>
		<div class="col-md-4">
		<h2>October</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>November</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>December</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>January</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>February</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>March</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>April</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	<div class="col-md-4">
		<h2>May</h2>
		<p><li>Sat 15 15:00 Man City (A) 1-1</li>
		<li>Tue 23 19:45 Burnley (A) 1-2</li>
		<li>Sat 27 15:00 West Ham (H) 2-0</li>
		</p>
		<a href="#" class="btn btn-danger  btn-sm">Learn</a>
	</div>
	</div>
	</div>

<footer class="col-12">
	<h2>Footer</h2>
	<p>Copyright</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
