
	<figure>
	<div class=".logo">
	<img id="landing-image" src="https://leemolton.github.io/toffeetalk/images/crest.jpg" alt="logo" width="200" height="150">
		</figure>
	<div class="container">
	<div class=".image">
	<img id="landing-image" src="https://leemolton.github.io/toffeetalk/images/Seamus.jpg" alt="image" height ="300" width="500">
		</div>
	<h1>Welcome to Toffee Talk</h1>
	<p>For all your Everton fixtures, results and ticket info.</p>
	
</div>
</div>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>&copy; 2018 Lee Molton</p>
</footer>
			        
		
	</div>		
	</div>
	</div>
	
