<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Toffee Talk</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\toffeetalk\css\style.css">

<style>

</style>

</head>
<body>



<nav class="navbar navbar-inverse navbar-fixed-top">
<nav class="container">
<ul class="nav navbar-nav navbar-right">
                <li><a href="C:\Users\leemo\toffeetalk\templates\home.html"> Home </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\login.html"> Log in </a></li>
            </ul>


</nav>
</nav>

</nav>

	<figure>
	<nav class=".logo">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\crest.jpg" alt="logo" width="200" height="150">
		</figure>
	<nav class="container">
	<nav class=".image">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\Seamus.jpg" alt="image" height ="300" width="500">
		</nav>
	<h1>Welcome to Toffee Talk</h1>
	<p>For all your Everton fixtures, results and ticket info.</p>
	
</nav>
</nav>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>&copy; 2017 Lee Molton</p>
</footer>
			        
		
	</nav>		
	</nav>
	</nav>
	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
