
	<nav class="container">
	<h1>Ticket Information for 2017/18 Season</h1>
		
</nav>


<nav class="container">
<nav class="container3">
			              
		<h2>February</h2>
		<p><h4>Sat 3 Arsenal (A) </h4><a class="btn btn-primary btn-sm" href="..\templates\buyticket.html">Buy now</h4></a>
		<p></p>	
		<p><h4>Sat 24 Watford (A)</h4><a class="btn btn-primary btn-sm" href="..\templates\buyticket.html">Buy now</h4></a>
		<p></p>
		</p>
		
	</nav>	

<nav class="container">
<nav class="container3">

		<h2>March</h2>
		<p><h4>Sat 3 Burnley (A)</h4>
		<p><h4>Sat 10 Brighton (H)</h4>
		<p><h4>Sat 17 Stoke City (A)</h4>
		<p><h4>Sat 31 Man City (H)</h4>	
		</p>
		
	</nav>		
	
	</nav>
	</nav>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>&copy; 2018 Lee Molton</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
