<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fan Articles</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\toffeetalk\css\style.css">

<style>
.logo {

}

</style>

</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container">
<ul class="nav navbar-nav navbar-right">
                <li><a href="C:\Users\leemo\toffeetalk\templates\home.html"> Home </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\login.html"> Log in </a></li>
            </ul>


</div>
</nav>

</div>

	<div class=".logo">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\crest.jpg" alt="logo" width="150">
		</div>
	<div class="container">
	<h1>Ticket Information for 2017/18 Season</h1>
		
</div>
</div>

<div class="container">
<div class="container2">
			              
            </nav>
        <div class='row'>
        <div class="col-md-12">
		<h2>July</h2>
		<p><li><h4>Sun 16 PEC Zwolle (A) </h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		<p></li>		
		<li><h4>Wed 19 FC Twente (A)</h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		<p></li>
		<li><h4>Sat 22 FC Groningen (A)</h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		<p></li>
		<li><h4>Thur 27 20:00 Europa League Third Qualifying Round 1st Leg</h4><a class="btn btn-primary btn-sm" href="#">Buy now</h4></a></li>
		</p>
		
	</div>		
		<div class="col-md-12">
		<h2>August</h2>
		<p><li><h4>Thur 3 20:00 Europa League Third Qualifying Round 2nd Leg</h4></li>
		<li><h4>Sun 6 15:00 Sevilla (H)</h4></li>		
		<li><h4>Sat 13 New Season starts</h4></li>
		</p>
		
	</div>		
	
	</div>
	</div>

<footer class="col-12">
	<h4>Toffee Talk</h4>
	<p>Copyright</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
