<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fan Articles</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"/>

<style>
.logo {

}

footer {
	padding-top: 2px;
	background-color: #eee;
	text-align: center;
	height: 5px;
}
</style>

</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container">
<ul class="nav navbar-nav navbar-right">
                <li><a href="C:\Users\leemo\toffeetalk\templates\home.html"> Home </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fixt.html"> Fixtures and Results </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\ticket.html"> Ticket Info </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\fanart.html"> Fan Articles </a></li>
                <li><a href="C:\Users\leemo\toffeetalk\templates\login.html"> Log in </a></li>
            </ul>


</div>
</nav>

</div>

	<div class=".logo">
	<img id="landing-image" src="C:\Users\leemo\OneDrive\Pictures\crest.jpg" alt="logo" width="150">
		</div>
	<div class="container">
	<h1>Ticket Info for 2017/18 Season</h1>
	<p>All the latest ticket information for the upcoming season.</p>
	
</div>
</div>

<div class="container">
			              
            </nav>
        <div class='row'>
        <div class="col-md-12">
		<h2>July</h2>
		<p><li>Sun 16 PEC Zwolle (A) <a class="btn btn-primary btn-sm" href="#">Buy now</a></li>
		<p></li>		
		<li>Wed 19 FC Twente (A)<a class="btn btn-primary btn-sm" href="#">Buy now</a></li>
		<p></li>
		<li>Sat 22 FC Groningen (A)<a class="btn btn-primary btn-sm" href="#">Buy now</a></li>
		<p></li>
		<li>Thur 27 20:00 Europa League Third Qualifying Round 1st Leg<a class="btn btn-primary btn-sm" href="#">Buy now</a></li>
		</p>
		
	</div>		
		<div class="col-md-12">
		<h2>August</h2>
		<p><li>Thur 3 20:00 Europa League Third Qualifying Round 2nd Leg</li>
		<li>Sun 6 15:00 Sevilla (H)</li>		
		<li>Sat 13 New Season starts</li>
		</p>
		
	</div>		
	
	</div>
	</div>

<footer class="col-12">
	<h2>Toffee Talk</h2>
	<p>Copyright</p>
</footer>


	
	</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="C:\Users\leemo\OneDrive\Documents\Web design course\bootstrap-3.3.7-dist\css\bootstrap.min.css"></script>
</html>
